---
import Sidebar from '../components/Sidebar.vue';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>前端老油条</title>
  </head>
  <body>
  <section class="flex flex-col w-full h-full items-center">
      <div class="flex felx-col w-[70%]">
          <div class="flex flex-col h-full left">
              <Sidebar />
          </div>
          <div class="flex-1 flex justify-center h-full right mt-[1.5rem]">
              <slot />
          </div>
      </div>
  </section>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
